.content

  %h1 Dashboard

  .classifiers
    - @classes.each do |klass|
      .classifier
        %h3.header= "#{klass.to_s} classifier"
        .classifier_content
          %ul.specs
            %li
              Classifies the
              %span.attr_name= klass::get_class_variable_name.to_s
              attribute
            %li
              Features selected:
              %span.attr_name= klass::get_feature_names.join(', ')
            %li
              Trained based on
              = klass::classifier.data_set.data_items.length 
              data points from among
              = klass::count
              total records of the #{klass.to_s} class
          .charts
            = piechart_by_class_variable(klass)
            = piechart_by_scope(klass)
